# Build output
build/
run/

# Logs
logs/
crash-reports/

# Gradle cache
.gradle/

# IDE files
.idea/
.vscode/
.eclipse/
*.iml

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Java
*.class

# MCreator
.mcreator/